body{
    margin: 0;
    border: 0;
}
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
@media (min-width: 668px) 
{  
 	html, body { margin: 72px; margin-top: 0;} 
	h1 { font-size: 60px;} 
	p { font-size: 30px; } 
} 
@media (max-width: 667px) 
{ 
	html, body { margin: 36px;} 
	h1 { font-size: 36px;} 
	p { font-size: 24px; } 
} 
@media (max-width: 375px) 
{ 
	html, body { margin: 12px;} 
	h1 { font-size: 24px; } 
	p { font-size: 16px;} 

    #header-logo {
        font-size: 23px;
        margin-bottom: 25px;
    }
    #header-tog li a {
        font-size: 8px;
        
    }


    figure {
        display: inline-block;
        text-align: center;
        width: 40%;
        margin-right: 0;
        margin-left: 0;
    }
    
    .border-img, figcaption a {
        font-size: 8px;
        color:  darkred;
    }
    
    footer a {
        font-size: 10px;
    }
    footer p {
        font-size: 10px;
    }

    .women1 img{
        width:55%;
        height: 12vh;
    }
    .women2 img {
        width: 55%;
        margin-top: 20px;
    }
    
    .women3 img {
        height: 8vh;
    }
    .womenVid video{
        width: 65%;
    }
} 
  

header {
    background: radial-gradient(black, black);
    padding: 20px;
}
header h1 {
    font-size: 2.5em;
}
header h4 {
    text-align: center;
}
header ul {
    display: inline;
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: white;
}
h1 a {
    color: goldenrod;
    
}
li a {
    text-decoration: none;
    
}
li {
    display: inline-block;
    margin-left: 10px;
}


.figure1 img {
    width:50%;
    margin-top: 20px ;
}
.figure2 img {
    width:55%;
    margin-top: 40px;
}

.women1 img{
    width:55%;
    height: 52vh;
    margin-top: 20px;
}
.women2 img {
    width: 55%;
    margin-top: 40px;
}

.women3 img {
    height: 32vh;
    width: 35%;
    margin-top: 40px;
}
.womenVid video{
    width: 65%;
}


.border-img {
    border: solid darkred 20px;
    padding: 40px;
}
.border-img1 {
    border: solid darkred 20px;
    padding: 30px;
}
.price a,
.price1 a,
.price2 a, 
.price3 a,
.price4 a ,
.price5 a{
    color: gray;
}
/* button {
    background:black;
    color: gray;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight:900;
    
} */
button:hover {
    background-color: lightskyblue;
    border: lightskyblue;
}

figure {
    display: inline-block;
    text-align: center;
    width: 40%;
    margin-right: 0;
    margin-left: 0;
}

figcaption a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5em;
    color:  darkred;
}

.men-pic1 img {
    width: 60%;
}

.men-pic2 img {
    width: 60%;
}
footer {
    text-align: center;
    font-size: 14px;
}
footer p {
    font-size: 12px;
}
footer a {
    color: silver;
    text-decoration: none;
    font-size: 12px;
}

.nav-space {
    margin-top: 60px;
    margin-bottom: -20px;

}
