body{
    margin: 0;
    border: 0;
}
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}


#header-img-men a img {
    width: 10%;
}
#header-logo-women  a{
    font-size: 90%;
}

#header-menu a {
    font-size: 14px;
    margin-right: 35px;
}
#header-menu {
    margin-top: 50px;
}
.header-tog a {
    margin-right: 20px;
}
#header-logo-h1 a:hover, .header-tog a:hover {
    color: darkred;
}


header {
    background: radial-gradient(black, black);
    padding: 20px;
}
header h1 {
    font-size: 2.5em;
}
header h4 {
    text-align: center;
}
header ul {
    display: inline;
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: white;
}
h1 a {
    color: goldenrod;
    
}
li a {
    text-decoration: none;
    
}
li {
    display: inline-block;
    /* margin-left: 10px; */
}


.figure1 a img {
    width:50%;
    margin-top: 20px ;
}

.women1 img{
    width:50%;
    height: 50vh;
    margin-top: 20px;
}
.womenVid video{
    width: 50%;
    height: 50vh;
}
.women2 img {
    width: 55%;
    margin-top: 40px;
}

.women3 a img {
    height: 37vh;
    width: 40%;
    margin-top: 50px;
}
.women4 a img {
    height: 40vh;
    width: 60%;
    margin-top: 50px;
}
.women5 a img {
    height: 40vh;
    width: 60%;
    margin-top: 50px;
}
.men-pic1 a img {
    width: 220px;
    margin-top: 20px;
}

.wmen-pic a img{
    width: 150px;
    margin-top: 20px;
}

.men-pic2 a img {
    width: 180px;
    margin-top: 20px;
}

.border-img {
    border: solid darkred 20px;
    padding: 40px;
}
.border-img1 {
    border: solid darkred 20px;
    padding: 30px;
}
.price a,
.price1 a,
.price2 a, 
.price3 a,
.price4 a ,
.price5 a{
    color: gray;
}

button:hover {
    background-color: lightskyblue;
    border: lightskyblue;
}

figure {
    display: inline-block;
    text-align: center;
    width: 40%;
    margin-right: 0;
    margin-left: 0;
}

figcaption a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1em;
    color:  darkred;
}

.figure2 img {
    width: 60%;
}
footer {
    text-align: center;
    font-size: 14px;
}
footer p {
    font-size: 12px;
}
footer a {
    color: silver;
    text-decoration: none;
    font-size: 12px;
}

.nav-space {
    margin-top: 60px;
    margin-bottom: -20px;

}
/* @media (min-width: 668px)
{  
 	html, body { margin: 72px; margin-top: 0;} 
	h1 { font-size: 60px;} 
	p { font-size: 30px; } 
} 
@media (max-width: 667px) 
{ 
	html, body { margin: 36px;} 
	h1 { font-size: 36px;} 
	p { font-size: 24px; } 
}  */

@media (max-width: 950px), (max-width: 1500px)
{ 
	html, body { margin: 12px;} 
	h1 { font-size: 24px; } 
	p { font-size: 16px;} 

    #header-logo-women a{
        font-size: 50px;
        margin-bottom: 15px;
    }
    /* #header-img-women img {
        width: 50%;
    } */
    #header-logo-h1{
        font-size: 25px;
        margin-bottom: 25px;
    }
    /* #header-logo-men a {
        font-size: 65%;
    } */
    #header-img-men a img {
        width: 60%;
    }
    h4 .header-tog a {
        font-size: 70%;
    }
    .header-tog a {
        margin-right: 20px;
    }
    #header-menu a {
        font-size: 14px;
    }

    .border-img, figcaption a {
        font-size: 8px;
        color:  darkred;
    }
    
    footer a {
        font-size: 15px;
    }
    footer p {
        font-size: 15px;
    }

    .women1 a img{
        width: 120px;
        height: 20vh;
    }
    .womenVid a video{
        width: 140px;
        height: 23vh;
    }
    .women2 a img {
        width: 210px;
        height: 21vh;
        margin-top: 40px;
    }
    .women4 a img {
        width: 210px;
        height: 21vh;;
        margin-top: 30px;
    }
    .women5 a img {
        width: 210px;
        height: 21vh;
        margin-top: 30px;
    }
    
    .women3 a img {
        width: 120px;
        height: 21vh;
        margin-top: 20px;
    }

    .men-pic1 a img {
        width: 180px;
        margin-top: 20px;
    }

    .wmen-pic a img{
        width: 120px;
        margin-top: 20px;
    }

    .men-pic2 a img {
        width: 150px;
        margin-top: 20px;
    }
    .men-pic3 a img {
        width: 150px;
        margin-top: 20px;
    }

    figcaption a {
        font-size: 14px;
    }

    .figure1 a img {
        width: 88%;
    }
    .figure2 a img {
        width: 100%;
        margin-top: 20px;
    }
} 

@media (max-width: 650px)
{ 
	html, body { margin: 12px;} 
	h1 { font-size: 24px; } 
	p { font-size: 16px;} 

    #header-logo-women a{
        font-size: 30px;
        margin-bottom: 15px;
    }
    /* #header-img-women img {
        width: 50%;
    } */
    #header-logo-h1{
        font-size: 25px;
        margin-bottom: 25px;
    }
    /* #header-logo-men a {
        font-size: 65%;
    } */
    #header-img-men a img {
        width: 60%;
    }
    h4 .header-tog a {
        font-size: 70%;
    }
    .header-tog a {
        font-size: 10px;
        margin-right: 20px;
    }
    #header-menu a {
        font-size: 8px;
        margin-right: 20px;
    }
    
    .border-img, figcaption a {
        font-size: 8px;
        color:  darkred;
    }
    
    footer a {
        font-size: 10px;
    }
    footer p {
        font-size: 10px;
    }

    .women1 a img{
        width: 100px;
        height: 21vh;
    }
    .womenVid a video{
        width: 100px;
        height: 23vh;
    }
    .women2 a img {
        width: 110px;
        height: 21vh;
        margin-top: 40px;
    }
    .women4 a img {
        width: 115px;
        height: 21vh;;
        margin-top: 30px;
        margin-right: 10px;
    }
    .women5 a img {
        width: 115px;
        height: 21vh;
        margin-top: 30px;
    }
    
    .women3 a img {
        width: 100px;
        height: 21vh;
        margin-top: 20px;
        margin-left: 20px;
    }
    

    .men-pic1 a img {
        width: 120px;
        margin-top: 20px;
    }

    .wmen-pic a img{
        width: 80px;
        margin-top: 20px;
    }

    .men-pic2 a img {
        width: 120px;
        margin-top: 20px;
    }
    .men-pic3 a img {
        width: 114px;
        margin-top: 20px;
    }

    figcaption a {
        font-size: 12px;
    }

    .figure1 a img {
        width: 88%;
    }
    .figure2 a img {
        width: 100%;
        margin-top: 20px;
    }
} 
@media (max-width: 470px) {


    .header-tog a {
        font-size: 10px;
        margin-right: 10px;
    }
    .men-pic1 a img {
        width: 100px;
        margin-top: 20px;
        
    }

    .wmen-pic a img{
        width: 90px;
        height: 150px;
        margin-top: 20px;
        margin-left: 30px;
    }

    .men-pic2 a img {
        width: 100px;
        margin-top: 20px;
    }
    .men-pic3 a img {
        width: 97px;
        margin-top: 20px;
        margin-left: 30px;
    }

    figcaption a {
        font-size: 9px;
    }

    .cap2 a {
        margin-left: 31px;
    }
    .cap4 a{
        margin-left: 31px;
    }
}

@media (max-width: 470px) {
    .wmen-pic {
        width: 100px;
    }
}