body {
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }
  

header {
    text-align: center;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
    transform:  color 0.4s linear ;
}

header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20%;
    background: grey;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}
header:hover::before {
    transform: scaleX(1);
}


header h1 {
    margin-bottom: -20px;  
}

li a {
    color: silver ;
    text-decoration: none;
    margin: 20px;
}

li :hover {
    color: black;
}

li {
    display: inline;
    
}
div .main-p {
    background: darkred;
    padding: 80px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-space {
    padding: 20px;
    background:darkred;
    text-align: center;
}

.img-div {
    margin: 0%;
    background: url("whiclot.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height:600px;
    border:  solid 30px;
   
}
.img-div2 {
    margin: 0%;
    background: url("vluclot.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height:550px;
    border:  solid 30px;
    background-position: center center;
    background-size: 350px;
}
.img-div3 {
    margin: 0%;
    background: url("redClo.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height:550px;
    border:  solid 30px  ; 
    background-position: center center;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: 250px;
}
.img-div4 {
    margin: 0%;
    background: url("bluNgrin.jpg");
    background-repeat: no-repeat;
    background-size: 200px;
    width: 100%;
    height:400px;
    border:  solid 30px  ; 
    background-position: center center;
}
.address,
span {
    margin: 150px 80px 150px;
}

.address1,
span {
    margin: 80px;
}
.red-color {
    color:red;
}

a {
    text-decoration: none;
    color: gray;
}
.green-color {
    color:green;
}
.yellow-color {
    color:teal
}

section {
    margin: 10px 10px;
    margin-left: auto;
    margin-right: auto;
}
.white-space {
    margin: 200px;
}
/* 
figure figcaption {
    border-radius: 20px;
    padding: 3px;
    color: white;
    width: 100px;
    margin-left: 50px;
} */


footer p {
    word-spacing: 20px;
    color: silver;
    font-size: 12px;
}

footer a {
    color: grey;
    text-decoration: none;
}