body{
    margin: 0;
    border: 0;
}
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
/* @media (min-width: 668px)
{  
 	html, body { margin: 72px; margin-top: 0;} 
	h1 { font-size: 60px;} 
	p { font-size: 30px; } 
} 
@media (max-width: 667px) 
{ 
	html, body { margin: 36px;} 
	h1 { font-size: 36px;} 
	p { font-size: 24px; } 
}  */

@media (max-width: 390px), (max-width: 414px), (max-width: 375px), (min-width: 820px), (max-width: 667px)
{ 
	html, body { margin: 12px;} 
	h1 { font-size: 24px; } 
	p { font-size: 16px;} 

    #header-logo-women  a{
        font-size: 55%;
        margin-bottom: 15%;
    }
    /* #header-img-women img {
        width: 50%;
    } */
    #header-logo-h1{
        font-size: 25px;
        margin-bottom: 25px;
    }
    /* #header-logo-men a {
        font-size: 65%;
    } */
    #header-img-men img {
        width: 50%;
    }
    h4 .header-tog a {
        /* width: 7px; */
        font-size: 70%;
    }
    #header-menu a {
        /* width: 7px; */
        font-size: 65%;
    }

    
    
    .border-img, figcaption a {
        font-size: 8px;
        color:  darkred;
    }
    
    footer a {
        font-size: 10px;
    }
    footer p {
        font-size: 10px;
    }

    .women1 a img{
        width: 100%;
        height: 21vh;
    }
    .women2 a img {
        width: 100%;
        height: 18vh;
        margin-top: 20px;
    }
    .women4 a img {
        width: 100%;
        height: 18vh;
        margin-top: 30px;
    }
    .women5 a img {
        width: 100%;
        height: 18vh;
        margin-top: 30px;
    }
    
    .women3 a img {
        width: 100%;
        height: 19vh;
        margin-top: 20px;
    }
    .womenVid a video{
        width: 100%;
        height: 25vh;
    }

    .men-pic1 img {
        width: 65%;
        margin-top: 20px;
    }

    .wmen-pic img{
        width: 50%;
        margin-top: 20px;
    }

    .men-pic2 img {
        width: 55%;
        margin-top: 20px;
    }

    figcaption {
        font-size: 8px;
    }

    .figure1 a img {
        width: 88%;
    }
    .figure2 a img {
        width: 100%;
        margin-top: 20px;
    }
} 
@media (max-width: 820px) {
    #header-logo {
        font-size: 50px;
        margin-bottom: 25px;
    }
    footer a {
        font-size: 14px;
    }
    footer p {
        font-size: 14px;
    }
    #header-tog li a {
        font-size: 14px;
        
    }

}
  

header {
    background: radial-gradient(black, black);
    padding: 20px;
}
header h1 {
    font-size: 2.5em;
}
header h4 {
    text-align: center;
}
header ul {
    display: inline;
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: white;
}
h1 a {
    color: goldenrod;
    
}
li a {
    text-decoration: none;
    
}
li {
    display: inline-block;
    margin-left: 10px;
}


.figure1 img {
    width:50%;
    margin-top: 20px ;
}
/* .figure2 img {
    width:55%;
    margin-top: 40px;
} */

.women1 img{
    width:55%;
    height: 52vh;
    margin-top: 20px;
}
.women2 img {
    width: 55%;
    margin-top: 40px;
}

.women3 img {
    height: 32vh;
    width: 35%;
    margin-top: 40px;
}
.womenVid video{
    width: 65%;
}


.border-img {
    border: solid darkred 20px;
    padding: 40px;
}
.border-img1 {
    border: solid darkred 20px;
    padding: 30px;
}
.price a,
.price1 a,
.price2 a, 
.price3 a,
.price4 a ,
.price5 a{
    color: gray;
}
/* button {
    background:black;
    color: gray;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight:900;
    
} */
button:hover {
    background-color: lightskyblue;
    border: lightskyblue;
}

figure {
    display: inline-block;
    text-align: center;
    width: 40%;
    margin-right: 0;
    margin-left: 0;
}

figcaption a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5em;
    color:  darkred;
}

.figure2 img {
    width: 60%;
}
footer {
    text-align: center;
    font-size: 14px;
}
footer p {
    font-size: 12px;
}
footer a {
    color: silver;
    text-decoration: none;
    font-size: 12px;
}

.nav-space {
    margin-top: 60px;
    margin-bottom: -20px;

}
